$home-background:rgba(196, 4, 49, 1);
$amphi-color:rgba(0, 51, 51, 1);
$austin-color:rgba(18, 149, 192, 1);
$big-block:rgba(235, 58, 251, 1);
$big-city:rgba(0, 180, 101, 1);
$big-hero:rgba(185, 29, 31, 1);
$bluey-color:rgba(163, 135, 201, 1);
$cars-color:rgba(74, 0, 0, 1);
$dino-color:rgba(125, 57, 31, 1);
$marvel-funko:rgba(151, 0, 127, 1);
$marvel-rising:rgba(102, 1, 160, 1);
$ferb-color:rgba(33, 185, 180, 1);
$duck-tales:rgba(1, 73, 129, 1);
$gravity-falls:rgba(99, 63, 32, 1);
$miraculous:rgba(145, 15, 13, 1);
$beyblade:rgba(53, 116, 181, 1);