@import "../../styles//variables","../../styles/config";

.header{
    background: $home-background;
    padding: 1em;
    font-weight: 600;
    top: 0;
    position: sticky;
    z-index: 2;
    
}

.nav{
    @include flexDirection(column);

    &-main{
        @include flexDirection(row);
        justify-content: space-between;

        &-image{
            width: 20%
        }
        &-icons{
            color: #fff;
            @include flexDirection(row);

            &-icon{
                margin-right: 0.7em;
            }
        }
    }
    &-primary{
        @include flexDirection(row);
        justify-content: space-between;
        align-items: center;
        color: #fff;
        margin-top: 1em;

        &-item{
            @include flexDirection(column);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 0.5em;
            border-radius:0.5em ;
            transition: all 0.3s ease-in;
        }

        &-item:hover{
            background: rgba(0, 0, 0,0.2);
        }
        &-item p{
            font-size: 0.8rem;
        }
    }
}

.icons-on-ipad{
    display: none;
}

.mickey{
    width: 35px;
    margin-top: -0.4em;
}

.active{
    background: rgba(0, 0, 0,0.2);
    padding: 0.5em;
    border-radius:0.5em ;
}

@include media-md{
    .header{
        padding: 0.5em;
    }
    .nav{
        @include flexDirection(row);

        &-main{
        display: block;
        width: 20%;

        &-image{
            width: 70%;
            padding: 0.5em;
        }

        &-icons{
            display: none;
        }
        }

        &-primary{
            margin-top: 0;
            width: 60%;
        }
    }
    .icons-on-ipad{
        display: block;
        @include flexDirection(row);
    }
}

@include media-lg{
    .header{
        padding: 0;
    }

    .nav{

        &-main{
            width: 20%;
            margin-left: 2em;

            &-image{
                width: 40%;
                padding: 1em;
            }
        }
        &-primary{
            justify-content: right;

            &-item{
                margin-left: 2em;
            }
        }
    }
}